extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Brian Lockerbie

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            |I am a student at TreeHouse studying to get my Full Stack JavaScript Developer TechDegree. I have been interested in technology since I was about 5 years old. Its my passion to code and create and I love to learn. 


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Listing my skills
          li Node
          li Pagination
          li CSS  
         
          h6 Contact Info

        
        ul
          li 555-555-555
          li brian.lockerbie@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/brian-lockerbie/') LinkedIn
        a.button.expanded(href='https://github.com/brianlockerbie') GitHub
        a.button.expanded(href='https://twitter.com/BrianLockerbie') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  